.body {
  font-family: 'Courier New', Courier, monospace;
}

.active {
  background-color: blue;
  color: white;
}

.active:hover {
  background-color: blue;
  color: white;
}
/*# sourceMappingURL=style.css.map */